<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ssahai.institutionalresearch" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"

        android:icon="@drawable/logo"
        android:label="TTU  IR"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StaffActivity"
            android:label="Staff" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".ContactActivity"
            android:label="Contact Us" >
        </activity>
        <activity
            android:name=".FactbookPager"
            android:label="Factbook" >
        </activity>
        <activity
            android:name=".TrendsPager"
            android:label="Trends" >
        </activity>
    </application>

</manifest>
